body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex: 1;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    bottom: 0;
}

.navbar-nav .nav-item.active {
    background-color: #007bff; /* Change to your preferred color */
}

.navbar-nav .nav-item.active .nav-link {
    color: #fff; /* Change to your preferred text color */
}